body {
	font-family: "museo-sans-rounded-1","museo-sans-rounded-2", sans-serif;
	padding: 0 0 0 50px;
}

h1 {
	font-family: "quatro-slab-1","quatro-slab-2", serif;
	font-size: 130px;
	margin: 0;
}

h2 { font-weight: 100; }

ul { padding: 0 0 0 20px; }

li { color: #43cfd4;}

a { color: #43cfd4; text-decoration: none; }
a:hover { text-decoration: underline;}